body,h1,h3,p{
	margin: 0px;
}
body{
	font:12px "微软雅黑";
	color: #cecece;
}
ul,li{
	margin: 0px;
	padding: 0px;
	list-style: none;
}
a:link,a:visited{
	text-decoration: none;
	color:#cecece ;
}
img{
	vertical-align: top;
	border: none;
}
